/*- 1rem = 10px - but default font size stay unchaged -*/
html {
    font-size: 62.5%;
}

body {
    margin: 0;
    font-family: $montserrat;
    font-size: 1.6rem;
    color: $dark;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

*,
*:after,
*:before {
    margin: 0;
    box-sizing: border-box;
}

button,
a {
    cursor: pointer;
}

h1 {
    position: relative;
    margin-bottom: 5rem;

    font-size: 8rem;
    font-weight: 400;

    &::before {
        content: '';
        position: absolute;
        bottom: 0;

        width: 100%;

        border-top: solid 5rem $accentuated;
        border-radius: 40px;
        z-index: -1;
        transform: rotate(-2deg);
    }
}

button {
    position: relative;
    display: block;

    padding: 1rem 2rem;

    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1px;
    outline: 0;
    border: 1px solid $dark;

    background-color: rgba(0, 0, 0, 0);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    z-index: 1;

    &:after {
        content: '';
        position: absolute;
        top: 7px;
        left: 7px;

        width: 100%;
        height: 100%;

        background-color: $accentuated;
        border-radius: 40px;
        transition: 0.2s;
        z-index: -1;
    }

    &:hover:after {
        top: 0px;
        left: 0px;
        border-radius: 0;
    }
}
